@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Duplicar</h1>
        <h4>El resultado de duplicar el numero <strong>@ViewBag.id</strong>, es <strong>@ViewBag.resultado</strong></h4>
    </div>
</body>
</html>
